<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcoding.emis.goods.mallGame.persistence.MallgameResultMapper">
	<resultMap id="BaseResultMap" type="com.mcoding.emis.goods.mallGame.bean.MallgameResult">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="gameid" property="gameid" jdbcType="INTEGER" />
		<result column="mobilePhone" property="mobilephone" jdbcType="VARCHAR" />
		<result column="openid" property="openid" jdbcType="VARCHAR" />
		<result column="nickName" property="nickname" jdbcType="VARCHAR" />
		<result column="isLottery" property="islottery" jdbcType="INTEGER" />
		<result column="isOrder" property="isorder" jdbcType="INTEGER" />
		<result column="productId" property="productid" jdbcType="INTEGER" />
		<result column="productName" property="productname" jdbcType="VARCHAR" />
		<result column="productCoverImg" property="productcoverimg"
			jdbcType="VARCHAR" />
		<result column="giftId" property="giftid" jdbcType="INTEGER" />
		<result column="gainPoint" property="gainpoint" jdbcType="INTEGER" />
		<result column="nums" property="nums" jdbcType="INTEGER" />
		<result column="brandCode" property="brandcode" jdbcType="VARCHAR" />
		<result column="ext" property="ext" jdbcType="VARCHAR" />
		<result column="ext1" property="ext1" jdbcType="VARCHAR" />
		<result column="drawDate" property="drawdate" jdbcType="DATE" />
		<result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, gameid, mobilePhone, openid, nickName, isLottery,
		isOrder, productId,
		productName,
		productCoverImg, giftId, gainPoint,
		nums, brandCode, ext, ext1, drawDate, createTime
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.mcoding.emis.goods.mallGame.bean.MallgameResultExample">
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from mallgame_result
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from mallgame_result
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		mallgame_result
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.mcoding.emis.goods.mallGame.bean.MallgameResultExample">
		delete from mallgame_result
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.mcoding.emis.goods.mallGame.bean.MallgameResult">
		insert into mallgame_result
		(id, gameid, mobilePhone,
		openid, nickName, isLottery,
		isOrder,
		productId, productName,
		productCoverImg, giftId, gainPoint,
		nums,
		brandCode, ext,
		ext1, drawDate, createTime
		)
		values
		(#{id,jdbcType=INTEGER}, #{gameid,jdbcType=INTEGER},
		#{mobilephone,jdbcType=VARCHAR},
		#{openid,jdbcType=VARCHAR},
		#{nickname,jdbcType=VARCHAR}, #{islottery,jdbcType=INTEGER},
		#{isorder,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER},
		#{productname,jdbcType=VARCHAR},
		#{productcoverimg,jdbcType=VARCHAR},
		#{giftid,jdbcType=INTEGER}, #{gainpoint,jdbcType=INTEGER},
		#{nums,jdbcType=INTEGER}, #{brandcode,jdbcType=VARCHAR},
		#{ext,jdbcType=VARCHAR},
		#{ext1,jdbcType=VARCHAR},
		#{drawdate,jdbcType=DATE}, #{createtime,jdbcType=TIMESTAMP}
		)
	</insert>
	<!-- 添加插入数据后返回记录id配置 -->
	<insert id="insertSelective" parameterType="com.mcoding.emis.goods.mallGame.bean.MallgameResult"
		useGeneratedKeys="true" keyProperty="id">
		insert into mallgame_result
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="gameid != null">
				gameid,
			</if>
			<if test="mobilephone != null">
				mobilePhone,
			</if>
			<if test="openid != null">
				openid,
			</if>
			<if test="nickname != null">
				nickName,
			</if>
			<if test="islottery != null">
				isLottery,
			</if>
			<if test="isorder != null">
				isOrder,
			</if>
			<if test="productid != null">
				productId,
			</if>
			<if test="productname != null">
				productName,
			</if>
			<if test="productcoverimg != null">
				productCoverImg,
			</if>
			<if test="giftid != null">
				giftId,
			</if>
			<if test="gainpoint != null">
				gainPoint,
			</if>
			<if test="nums != null">
				nums,
			</if>
			<if test="brandcode != null">
				brandCode,
			</if>
			<if test="ext != null">
				ext,
			</if>
			<if test="ext1 != null">
				ext1,
			</if>
			<if test="drawdate != null">
				drawDate,
			</if>
			<if test="createtime != null">
				createTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="gameid != null">
				#{gameid,jdbcType=INTEGER},
			</if>
			<if test="mobilephone != null">
				#{mobilephone,jdbcType=VARCHAR},
			</if>
			<if test="openid != null">
				#{openid,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				#{nickname,jdbcType=VARCHAR},
			</if>
			<if test="islottery != null">
				#{islottery,jdbcType=INTEGER},
			</if>
			<if test="isorder != null">
				#{isorder,jdbcType=INTEGER},
			</if>
			<if test="productid != null">
				#{productid,jdbcType=INTEGER},
			</if>
			<if test="productname != null">
				#{productname,jdbcType=VARCHAR},
			</if>
			<if test="productcoverimg != null">
				#{productcoverimg,jdbcType=VARCHAR},
			</if>
			<if test="giftid != null">
				#{giftid,jdbcType=INTEGER},
			</if>
			<if test="gainpoint != null">
				#{gainpoint,jdbcType=INTEGER},
			</if>
			<if test="nums != null">
				#{nums,jdbcType=INTEGER},
			</if>
			<if test="brandcode != null">
				#{brandcode,jdbcType=VARCHAR},
			</if>
			<if test="ext != null">
				#{ext,jdbcType=VARCHAR},
			</if>
			<if test="ext1 != null">
				#{ext1,jdbcType=VARCHAR},
			</if>
			<if test="drawdate != null">
				#{drawdate,jdbcType=DATE},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.mcoding.emis.goods.mallGame.bean.MallgameResultExample"
		resultType="java.lang.Integer">
		select count(*) from mallgame_result
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update mallgame_result
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.gameid != null">
				gameid = #{record.gameid,jdbcType=INTEGER},
			</if>
			<if test="record.mobilephone != null">
				mobilePhone = #{record.mobilephone,jdbcType=VARCHAR},
			</if>
			<if test="record.openid != null">
				openid = #{record.openid,jdbcType=VARCHAR},
			</if>
			<if test="record.nickname != null">
				nickName = #{record.nickname,jdbcType=VARCHAR},
			</if>
			<if test="record.islottery != null">
				isLottery = #{record.islottery,jdbcType=INTEGER},
			</if>
			<if test="record.isorder != null">
				isOrder = #{record.isorder,jdbcType=INTEGER},
			</if>
			<if test="record.productid != null">
				productId = #{record.productid,jdbcType=INTEGER},
			</if>
			<if test="record.productname != null">
				productName = #{record.productname,jdbcType=VARCHAR},
			</if>
			<if test="record.productcoverimg != null">
				productCoverImg =
				#{record.productcoverimg,jdbcType=VARCHAR},
			</if>
			<if test="record.giftid != null">
				giftId = #{record.giftid,jdbcType=INTEGER},
			</if>
			<if test="record.gainpoint != null">
				gainPoint = #{record.gainpoint,jdbcType=INTEGER},
			</if>
			<if test="record.nums != null">
				nums = #{record.nums,jdbcType=INTEGER},
			</if>
			<if test="record.brandcode != null">
				brandCode = #{record.brandcode,jdbcType=VARCHAR},
			</if>
			<if test="record.ext != null">
				ext = #{record.ext,jdbcType=VARCHAR},
			</if>
			<if test="record.ext1 != null">
				ext1 = #{record.ext1,jdbcType=VARCHAR},
			</if>
			<if test="record.drawdate != null">
				drawDate = #{record.drawdate,jdbcType=DATE},
			</if>
			<if test="record.createtime != null">
				createTime = #{record.createtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update mallgame_result
		set id = #{record.id,jdbcType=INTEGER},
		gameid =
		#{record.gameid,jdbcType=INTEGER},
		mobilePhone =
		#{record.mobilephone,jdbcType=VARCHAR},
		openid =
		#{record.openid,jdbcType=VARCHAR},
		nickName =
		#{record.nickname,jdbcType=VARCHAR},
		isLottery =
		#{record.islottery,jdbcType=INTEGER},
		isOrder =
		#{record.isorder,jdbcType=INTEGER},
		productId =
		#{record.productid,jdbcType=INTEGER},
		productName =
		#{record.productname,jdbcType=VARCHAR},
		productCoverImg =
		#{record.productcoverimg,jdbcType=VARCHAR},
		giftId =
		#{record.giftid,jdbcType=INTEGER},
		gainPoint =
		#{record.gainpoint,jdbcType=INTEGER},
		nums =
		#{record.nums,jdbcType=INTEGER},
		brandCode =
		#{record.brandcode,jdbcType=VARCHAR},
		ext =
		#{record.ext,jdbcType=VARCHAR},
		ext1 = #{record.ext1,jdbcType=VARCHAR},
		drawDate = #{record.drawdate,jdbcType=DATE},
		createTime =
		#{record.createtime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.mcoding.emis.goods.mallGame.bean.MallgameResult">
		update mallgame_result
		<set>
			<if test="gameid != null">
				gameid = #{gameid,jdbcType=INTEGER},
			</if>
			<if test="mobilephone != null">
				mobilePhone = #{mobilephone,jdbcType=VARCHAR},
			</if>
			<if test="openid != null">
				openid = #{openid,jdbcType=VARCHAR},
			</if>
			<if test="nickname != null">
				nickName = #{nickname,jdbcType=VARCHAR},
			</if>
			<if test="islottery != null">
				isLottery = #{islottery,jdbcType=INTEGER},
			</if>
			<if test="isorder != null">
				isOrder = #{isorder,jdbcType=INTEGER},
			</if>
			<if test="productid != null">
				productId = #{productid,jdbcType=INTEGER},
			</if>
			<if test="productname != null">
				productName = #{productname,jdbcType=VARCHAR},
			</if>
			<if test="productcoverimg != null">
				productCoverImg = #{productcoverimg,jdbcType=VARCHAR},
			</if>
			<if test="giftid != null">
				giftId = #{giftid,jdbcType=INTEGER},
			</if>
			<if test="gainpoint != null">
				gainPoint = #{gainpoint,jdbcType=INTEGER},
			</if>
			<if test="nums != null">
				nums = #{nums,jdbcType=INTEGER},
			</if>
			<if test="brandcode != null">
				brandCode = #{brandcode,jdbcType=VARCHAR},
			</if>
			<if test="ext != null">
				ext = #{ext,jdbcType=VARCHAR},
			</if>
			<if test="ext1 != null">
				ext1 = #{ext1,jdbcType=VARCHAR},
			</if>
			<if test="drawdate != null">
				drawDate = #{drawdate,jdbcType=DATE},
			</if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.mcoding.emis.goods.mallGame.bean.MallgameResult">
		update
		mallgame_result
		set gameid = #{gameid,jdbcType=INTEGER},
		mobilePhone =
		#{mobilephone,jdbcType=VARCHAR},
		openid = #{openid,jdbcType=VARCHAR},
		nickName = #{nickname,jdbcType=VARCHAR},
		isLottery =
		#{islottery,jdbcType=INTEGER},
		isOrder = #{isorder,jdbcType=INTEGER},
		productId = #{productid,jdbcType=INTEGER},
		productName =
		#{productname,jdbcType=VARCHAR},
		productCoverImg =
		#{productcoverimg,jdbcType=VARCHAR},
		giftId =
		#{giftid,jdbcType=INTEGER},
		gainPoint = #{gainpoint,jdbcType=INTEGER},
		nums = #{nums,jdbcType=INTEGER},
		brandCode =
		#{brandcode,jdbcType=VARCHAR},
		ext = #{ext,jdbcType=VARCHAR},
		ext1 =
		#{ext1,jdbcType=VARCHAR},
		drawDate = #{drawdate,jdbcType=DATE},
		createTime = #{createtime,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<!-- 获取中奖名单列表 -->
	<select id="getWinnerList" parameterType="map"
		resultType="com.mcoding.emis.goods.mallGame.bean.MallgameResult">
		select r.* from mallgame_result r where r.gameid =#{param1}
		and
		r.isLottery=1
		ORDER BY id DESC limit #{param2}
	</select>

	<!--非自动生成 -->
	<!--获取游戏的中奖者 -->
	<select id="getWinner" parameterType="map"
		resultType="com.mcoding.emis.goods.mallGame.bean.MallgameResult">
		select * from mallgame_result r where r.gameid=#{gameid}
		and r.isLottery=1
	</select>

	<!--非自动生成 -->
	<!-- 获取游戏的动态积分 -->
	<select id="getGoingIntegral" parameterType="map" resultType="String">
		select sum(r.gainPoint) from mallgame_result r where
		r.gameid=#{gameid}
	</select>

	<!-- 非自动生成 -->
	<select id="queryUserStakeGameInforByPage" parameterType="map"
		resultType="com.mcoding.emis.goods.mallGame.bean.MallgameStakeResultInfor">
		SELECT
			mt.id AS giftId,
			mt.gainPoint AS totalPoint,
			mr.gameid AS gameid,
			mg.`status` AS gameStatus,
			mr.gainPoint AS userGainPoint,
			mt.productName AS productName,
			mt.productCoverImg AS productCoverimg,
			mr.id AS resultId
		FROM
			mallgame_gambling mg,
			mallgame_result mr,
			mallgame_gift mt
		WHERE
			mg.id =mr.gameid
		AND mg.id =mt.gameid
		AND mg.ext= '1'
		AND mr.openid =#{openid}
		ORDER BY
			mg.`status` DESC,
			mg.`updateTime` DESC,
			mg.`id` DESC
	</select>

	<!--非自动生成 -->
	<select id="queryStakeByPage" parameterType="map"
		resultType="com.mcoding.emis.goods.mallGame.bean.MallgameStakeData">
		SELECT
			mr.gainPoint AS userPoint,
			mm.fullName AS userName,
			mm.openid AS openId,
			mr.gameid AS gameId,
			mr.id AS resultId
		FROM
			mallgame_result mr,
			mr_member mm
		WHERE
			mr.gameid =#{gameid}
		AND mr.openid = mm.openid
		ORDER BY
			mr.gainPoint DESC
	</select>

	<select id="queryStakeOpenIdByPage" parameterType="map" resultType="java.lang.String">
		SELECT
			mr.openid
		FROM
			mallgame_result mr	
		WHERE
			mr.gameid = #{gameid}
		ORDER BY
			mr.gainPoint DESC,
			mr.createTime ASC
	</select>
	
	<!--非自动生成 -->
	<select id="updateLotteryByOpenIdAndGameId" parameterType="map">
		UPDATE mallgame_result mr
		SET
			mr.isLottery = 1
		WHERE
			mr.openid =#{openid}
		AND
			mr.gameid = #{gameid}
	</select>
	
	<!--非自动生成 -->
	<select id="queryResultRecordByPage" parameterType="map"
		resultType="com.mcoding.emis.goods.mallGame.bean.MallgameStakeRecord">
		SELECT
			mr.gameid AS gameId,
			mr.openid AS openId,
			mr.gainPoint AS stakePoint,
			mr.isLottery AS isWinner,
			mr.isOrder AS isOrder
		FROM
			mallgame_result mr
		WHERE
			mr.gameid = #{gameid}
	</select>

	<select id="queryMallGameResultByPage" resultMap="BaseResultMap" parameterType="com.mcoding.emis.goods.mallGame.bean.MallgameResultExample">
		select g.gameName as gamename, r.*
		  from mallgame_result r,
			   mallgame_gambling g
		 where r.gameid = g.id
		  <if test="_parameter != null and _parameter != '' ">
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					and
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and r.${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and r.${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and r.${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach> 
		</if>
		
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="queryMallGameResultProductNameList" resultMap="BaseResultMap">
		SELECT DISTINCT(productName) FROM mallgame_result 
	</select>
	
	<select id="queryDistintGamblingGameNameList" resultType="com.mcoding.emis.goods.mallGame.bean.MallgameGambling">
		SELECT DISTINCT id,gameName FROM mallgame_gambling
	</select>
	
</mapper>