.queryButton1{
   width:90%;
   margin-left:5%;
   background-color:#E93328;
   height:40px;
   line-height:40px;
   text-align: center;
   color:white;
}
.queryButton2{
  width:60%;
  margin-left:20%;
  background-color:#F67C6D;
  height:40px;
  line-height:40px;
  text-align: center;
  color:white;
}