<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{{global.brandName}}</title>
		<script src="./js/workspace.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/pageScript/index.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body class="gym-body bui_at_noline">
		<!--主体-->
		<div class="bui_wrap">
			<!--提示关注公众号-->
			<tp-plug-follow v-if="isSubscribe.data==0"></tp-plug-follow>
			<!--提示关注公众号-->
			<div class="bui_mo" style="top:{{isSubscribe.data==0?'48px':'0'}}">
				<!--页头-->
				<div class="bui_mo_h">
					<tp-header bgc="mr_bgc_red" righticon="fa-search" rightlink="javascript:global_showSidePanel('modal_search');" logo="./images/logo.png"></tp-header>
				</div>
				<!--页头-->
				<!--页面-->
				<div class="bui_mo_b bui_mo_b_h bui_mo_b_f gym_mo_b">
					<tp-loading-mask :hidden="loadData.banner&&loadData.productlist1&&loadData.productlist2"></tp-loading-mask>
					<!--幻灯片-->
					<div class="bui_bgc_black" buijs_swiper :style="{'height':+global.screenSize/16*9+'px','position':'relative','overflow':'hidden'}">
						<div class="box">
							<li class="item" v-for="data in index_banner">
								<a :href="data.link" data-bui_img class="bui_block" style="width: 100%;height: 100%;">
									<tp-img :src="data.url" :class="bui_block"></tp-img>
								</a>
							</li>
						</div>
					</div>
					<!--幻灯片-->

					<!--产品分类列表-->
					<tp-img src="images/index-product-type-bg-1.jpg" class="bui_block"></tp-img>
					<div class="bui_avg_2">
						<template v-for="data in index_productList_type1.queryResult">
							<tp-product-item type="product" :href="'product_detail.html?productId='+data.id" :id="data.id" :title="data.productName" :imgurl="data.coverImg" :price="data.priceList[0].value"></tp-product-item>
						</template>
					</div>

					<tp-img src="images/index-product-type-bg-2.jpg" class="bui_block"></tp-img>
					<div class="bui_avg_2">
						<template v-for="data in index_productList_type2.queryResult">
							<tp-product-item type="product" :href="'product_detail.html?productId='+data.id" :id="data.id" :title="data.productName" :imgurl="data.coverImg" :price="data.priceList[0].value"></tp-product-item>
						</template>
					</div>
					<!--产品分类列表-->

					<!--版权信息-->
					<tp-copyright></tp-copyright>
					<!--版权信息-->

				</div>
				<!--页面-->
				<!--页脚-->
				<tp-footer-nav></tp-footer-nav>
				<!--页脚-->
			</div>
		</div>
		<!--主体-->
		<!--购物车挂件-->
		<tp-plug-cart name="购物车" :cartsize="global.cartData.product.size"></tp-plug-cart>
		<!--购物车挂件-->
	</body>

</html>