<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcoding.emis.goods.seckill.persistence.SeckillResultMapper" >
  <resultMap id="BaseResultMap" type="com.mcoding.emis.goods.seckill.bean.SeckillResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="seckillId" property="seckillid" jdbcType="INTEGER" />
    <result column="nickName" property="nickname" jdbcType="VARCHAR" />
    <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="productId" property="productid" jdbcType="INTEGER" />
    <result column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="productName" property="productname" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, seckillId, nickName, headimgurl, openid, num, productId, orderId, productName, 
    createTime, updateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mcoding.emis.goods.seckill.bean.SeckillResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from seckill_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from seckill_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from seckill_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mcoding.emis.goods.seckill.bean.SeckillResultExample" >
    delete from seckill_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.mcoding.emis.goods.seckill.bean.SeckillResult" >
    insert into seckill_result (id, seckillId, nickName, 
      headimgurl, openid, num, 
      productId, orderId, productName, 
      createTime, updateTime)
    values (#{id,jdbcType=INTEGER}, #{seckillid,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, 
      #{headimgurl,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{productid,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mcoding.emis.goods.seckill.bean.SeckillResult" >
    insert into seckill_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="seckillid != null" >
        seckillId,
      </if>
      <if test="nickname != null" >
        nickName,
      </if>
      <if test="headimgurl != null" >
        headimgurl,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="productid != null" >
        productId,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="productname != null" >
        productName,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="seckillid != null" >
        #{seckillid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="productname != null" >
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mcoding.emis.goods.seckill.bean.SeckillResultExample" resultType="java.lang.Integer" >
    select count(*) from seckill_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update seckill_result
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.seckillid != null" >
        seckillId = #{record.seckillid,jdbcType=INTEGER},
      </if>
      <if test="record.nickname != null" >
        nickName = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.headimgurl != null" >
        headimgurl = #{record.headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null" >
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.productid != null" >
        productId = #{record.productid,jdbcType=INTEGER},
      </if>
      <if test="record.orderid != null" >
        orderId = #{record.orderid,jdbcType=INTEGER},
      </if>
      <if test="record.productname != null" >
        productName = #{record.productname,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update seckill_result
    set id = #{record.id,jdbcType=INTEGER},
      seckillId = #{record.seckillid,jdbcType=INTEGER},
      nickName = #{record.nickname,jdbcType=VARCHAR},
      headimgurl = #{record.headimgurl,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      productId = #{record.productid,jdbcType=INTEGER},
      orderId = #{record.orderid,jdbcType=INTEGER},
      productName = #{record.productname,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      updateTime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcoding.emis.goods.seckill.bean.SeckillResult" >
    update seckill_result
    <set >
      <if test="seckillid != null" >
        seckillId = #{seckillid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="productname != null" >
        productName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mcoding.emis.goods.seckill.bean.SeckillResult" >
    update seckill_result
    set seckillId = #{seckillid,jdbcType=INTEGER},
      nickName = #{nickname,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      productId = #{productid,jdbcType=INTEGER},
      orderId = #{orderid,jdbcType=INTEGER},
      productName = #{productname,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 自定义 -->
  <select id="selectBySeckillId" parameterType="map" resultType="com.mcoding.emis.goods.seckill.bean.SeckillResult">
	select * from seckill_result where seckillId = #{seckillId,jdbcType=INTEGER}
	<if test="isSelf != null and isSelf == 'yes'">
		and openid = #{openId,jdbcType=VARCHAR}
	</if>
	and orderId > 0
	</select>
	
  <select id="selectBySeckillIdByPage" parameterType="map" resultType="com.mcoding.emis.goods.seckill.bean.SeckillResult">
	select * from seckill_result where seckillId = #{seckillId,jdbcType=INTEGER}
	<if test="isSelf != null and isSelf == 'yes'">
		and openid = #{openId,jdbcType=VARCHAR}
	</if>
	order by id desc
	</select>
	
	<select id="getByIdAndOpenid" parameterType="map" resultType="com.mcoding.emis.goods.seckill.bean.SeckillResult">
		select * from seckill_result where openid = #{openid,jdbcType=VARCHAR} and seckillId = #{seckillid,jdbcType=INTEGER} 
	</select>	
	
	<select id="getOrderNum" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(b.id) AS orderCount FROM seckill_result b WHERE b.seckillId = #{seckillId,jdbcType=INTEGER}
	</select>	
	
	<update id="setEndById" parameterType="java.lang.Integer">
		update seckill set status = 'end' where id = #{seckillId,jdbcType=INTEGER}
	</update>

</mapper>