<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ani/aniGetEnergy0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,729},{280,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,187}</string>
			</dict>
			<key>ani/aniGetEnergy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{519,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{519,366}</string>
			</dict>
			<key>ani/aniGetEnergy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,351},{289,376}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{289,376}</string>
			</dict>
			<key>ani/aniGetEnergy3.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1},{342,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,348}</string>
			</dict>
			<key>ani/aniRoadblock0.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,324},{48,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,77}</string>
			</dict>
			<key>ani/aniRoadblock1.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,351},{37,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,76}</string>
			</dict>
			<key>ani/aniRoadblock2.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,380},{39,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,77}</string>
			</dict>
			<key>ani/aniRoadblock3.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,172},{33,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,74}</string>
			</dict>
			<key>ani/aniRun0.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,1},{73,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,84}</string>
			</dict>
			<key>ani/aniRun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,172},{56,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,81}</string>
			</dict>
			<key>ani/aniRun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,156},{61,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,82}</string>
			</dict>
			<key>ani/aniRun3.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,1},{75,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,83}</string>
			</dict>
			<key>ani/aniRun4.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,240},{54,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,82}</string>
			</dict>
			<key>ani/aniSmoke0.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,407},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>ani/aniSmoke1.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,407},{28,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,31}</string>
			</dict>
			<key>ani/aniSmoke2.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,248},{18,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,52}</string>
			</dict>
			<key>ani/aniSmoke3.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,403},{45,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,55}</string>
			</dict>
			<key>ani/aniSmoke4.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,429},{18,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,52}</string>
			</dict>
			<key>ani/aniRun5.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,87},{61,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,83}</string>
			</dict>
			<key>ani/aniJump0.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,302},{44,76}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,76}</string>
			</dict>
			<key>ani/aniJump1.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,339},{51,66}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
			<key>ani/aniJump2.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,255},{52,82}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,83}</string>
			</dict>
			<key>ani/aniJump3.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,86},{75,68}}</string>
				<key>offset</key>
				<string>{-2,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>aniPlist.png</string>
			<key>realTextureFileName</key>
			<string>aniPlist.png</string>
			<key>size</key>
			<string>{1021,917}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>917</integer>
		</dict>
	</dict>
</plist>