<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>texture/cityBg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,232},{820,141}}</string>
				<key>offset</key>
				<string>{10,-43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,230}</string>
			</dict>
			<key>texture/cityBg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,1},{840,229}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,230}</string>
			</dict>
			<key>texture/colon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2021,1},{17,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,29}</string>
			</dict>
			<key>texture/countdown1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,92},{49,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,88}</string>
			</dict>
			<key>texture/countdown2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,1},{63,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,89}</string>
			</dict>
			<key>texture/countdown3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,58},{62,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,88}</string>
			</dict>
			<key>texture/iconProteinStick.png</key>
			<dict>
				<key>frame</key>
				<string>{{2021,61},{17,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,23}</string>
			</dict>
			<key>texture/iconSolidBeverage.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1007},{30,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,16}</string>
			</dict>
			<key>texture/iconWheyProtein.png</key>
			<dict>
				<key>frame</key>
				<string>{{2021,32},{16,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,27}</string>
			</dict>
			<key>texture/m.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,92},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>texture/road_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,965},{472,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{472,40}</string>
			</dict>
			<key>texture/road_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,965},{472,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{472,40}</string>
			</dict>
			<key>texture/roadblock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1917,58},{33,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,74}</string>
			</dict>
			<key>texture/skyBg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{886,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{886,480}</string>
			</dict>
			<key>texture/skyBg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,483},{886,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{886,480}</string>
			</dict>
			<key>texture/timeBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,306},{280,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,24}</string>
			</dict>
			<key>texture/timeClock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,250},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>texture/timeProcess.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1007},{270,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,15}</string>
			</dict>
			<key>texture/txtProteinStick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,114},{98,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,55}</string>
			</dict>
			<key>texture/txtSolidBeverage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,58},{120,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,54}</string>
			</dict>
			<key>texture/txtWheyProtein.png</key>
			<dict>
				<key>frame</key>
				<string>{{1831,148},{98,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,55}</string>
			</dict>
			<key>texture/propProteinStick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,182},{50,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,66}</string>
			</dict>
			<key>texture/propSolidBeverage.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,171},{85,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,46}</string>
			</dict>
			<key>texture/propWheyProtein.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,182},{47,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,80}</string>
			</dict>
			<key>texture/txtOver.png</key>
			<dict>
				<key>frame</key>
				<string>{{1731,1},{223,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,55}</string>
			</dict>
			<key>texture/txtSpeedDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1818,205},{102,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>texturePlist.png</string>
			<key>realTextureFileName</key>
			<string>texturePlist.png</string>
			<key>size</key>
			<string>{2042,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2042</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>