<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcoding.emis.goods.game.persistence.GamePrizeNumberMapper" >
  <resultMap id="BaseResultMap" type="com.mcoding.emis.goods.game.bean.GamePrizeNumber" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prizeId" property="prizeid" jdbcType="INTEGER" />
    <result column="prizeNumber" property="prizenumber" jdbcType="INTEGER" />
    <result column="isRecieve" property="isrecieve" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, prizeId, prizeNumber, isRecieve, create_time, update_time,prizeCode
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mcoding.emis.goods.game.bean.GamePrizeNumberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from game_prize_number
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from game_prize_number
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from game_prize_number
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mcoding.emis.goods.game.bean.GamePrizeNumberExample" >
    delete from game_prize_number
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mcoding.emis.goods.game.bean.GamePrizeNumber" >
    insert into game_prize_number (id, prizeId, prizeNumber, 
      isRecieve, create_time, update_time,prizeCode
      )
    values (#{id,jdbcType=INTEGER}, #{prizeid,jdbcType=INTEGER}, #{prizenumber,jdbcType=INTEGER}, 
      #{isrecieve,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{prizeCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mcoding.emis.goods.game.bean.GamePrizeNumber" >
    insert into game_prize_number
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="prizeid != null" >
        prizeId,
      </if>
      <if test="prizenumber != null" >
        prizeNumber,
      </if>
      <if test="isrecieve != null" >
        isRecieve,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="prizeCode != null" >
        prizeCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="prizeid != null" >
        #{prizeid,jdbcType=INTEGER},
      </if>
      <if test="prizenumber != null" >
        #{prizenumber,jdbcType=INTEGER},
      </if>
      <if test="isrecieve != null" >
        #{isrecieve,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prizeCode != null" >
        #{prizeCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mcoding.emis.goods.game.bean.GamePrizeNumberExample" resultType="java.lang.Integer" >
    select count(*) from game_prize_number
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update game_prize_number
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.prizeid != null" >
        prizeId = #{record.prizeid,jdbcType=INTEGER},
      </if>
      <if test="record.prizenumber != null" >
        prizeNumber = #{record.prizenumber,jdbcType=INTEGER},
      </if>
      <if test="record.isrecieve != null" >
        isRecieve = #{record.isrecieve,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.prizeCode != null" >
        prizeCode = #{record.prizeCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update game_prize_number
    set id = #{record.id,jdbcType=INTEGER},
      prizeId = #{record.prizeid,jdbcType=INTEGER},
      prizeNumber = #{record.prizenumber,jdbcType=INTEGER},
      isRecieve = #{record.isrecieve,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      prizeCode = #{record.prizeCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcoding.emis.goods.game.bean.GamePrizeNumber" >
    update game_prize_number
    <set >
      <if test="prizeid != null" >
        prizeId = #{prizeid,jdbcType=INTEGER},
      </if>
      <if test="prizenumber != null" >
        prizeNumber = #{prizenumber,jdbcType=INTEGER},
      </if>
      <if test="isrecieve != null" >
        isRecieve = #{isrecieve,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prizeCode != null" >
        prizeCode = #{prizeCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mcoding.emis.goods.game.bean.GamePrizeNumber" >
    update game_prize_number
    set prizeId = #{prizeid,jdbcType=INTEGER},
      prizeNumber = #{prizenumber,jdbcType=INTEGER},
      isRecieve = #{isrecieve,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      prizeCode = #{prizeCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>