<!DOCTYPE html>
<html>
<head lang="zh-cn">
<title>微信支付</title>
<script src="../activity/game_public/workspace_v2.0.1.js" type="text/javascript" charset="utf-8"></script>
 <meta charset="utf-8">
 	<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
		<!--<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <!-- 引入微信JSJDK -->
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"> </script>
  <script src="../resources/js/common/wechatPay.js" type="text/javascript" charset="utf-8"></script>
  <script src="../resources/js/custom/wechat/pay.js" type="text/javascript" charset="utf-8"></script>
  <style>
		.fa-rotate-45{
		-ms-transform:rotate(45deg); /* Internet Explorer */
		-moz-transform:rotate(45deg); /* Firefox */
		-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
		-o-transform:rotate(45deg); /* Opera */
		transform:rotate(45deg);
		}
		.fontWeight{
			font-weight: 900;
		}
		.xmas2015{
			background-image: url(../wMall/images/xmasbg.jpg);
			background-size: 100% 100%;
			background-color: #C20102 !important;
		}
		.xmas2015 [class*=bui_btn_]{
			color:#ec5464 !important;
		}
	</style>
  </head>

  <body class="mp_body bui_bgc_green bui_tc_white xmas2015">
		<!--主屏幕-->

		<div class="mp_pagebox_home"  >

			<!--我的_主体-->
			<div class="mp_page_body ">
				<!--支付-->

				<ul  >
					<li class="bui_pt_12 bui_pb_12">
						<div class=" bui_ta_c bui_inline">
								<img src="../wMall/images/xmas_paylogo.png" style="width:100%;">
								 <!--<i class=" fa fa-cart-arrow-down bui_fas_128"></i>-->
						</div>
						<p class="text_p bui_tc_white bui_ta_c bui_mt_12 fontWeight bui_plr_48">正在支付...
						</p>
					</li>
					<li>
						<p></p>
					</li>
				</ul>
				<!--支付-->

				<div class="bui_ta_c bui_pb_32">
					<p class=" bui_ts_12 fontWeight">订单金额：</p>
					<p><i class="fa fa-jpy fa-2x  "></i><span class="bui_ts_40 fee" style="font-style: italic;"></span>
					</p>
				</div>
				<div class="bui_ta_c bui_mb_24">
					<p class="outNo bui_ts_12 fontWeight" id="orderNo"></p>
						<!-- p class="text_p2 bui_tc_white bui_ta_c bui_plr_24 fontWeight">支付过程中遇到问题，请拨打</p>
						<p class="text_p2 bui_tc_white bui_ta_c bui_plr_24">4009-313-999</p -->
				</div>
				<div class="buttonGroup" style="padding: 6px;">
					<div class="bui_avg_sm_2 bui_row_p_12  bui_plr_12">
						<li class=" ">
							<a href="javascript:callpay();" type="button" class="bui_block bui_btn_48 bui_radius  bui_bgc_white bui_ipc_basic bui_tc_green">
								<i class="fa fa-gift fa-fw"></i>
								<span class="fontWeight">立即支付2</span>
							</a>

						</li>
						<li>
						<a href="../wMall/order_list.html" type="button" class="noPay bui_block bui_btn_48 bui_radius  bui_bgc_white bui_ipc_basic bui_tc_green">
								<i class="fa fa-list fa-fw"></i>
								<span class="fontWeight">暂不支付2</span>
							</a>
						</li>
					</div>
				</div>
			</div>
			<!--我的_主体-->
		</div>
		<!--我的-->
		<div class="bui_mask_64"></div>
		<div class="gift_remind bui_bgc_black_f72" style="position: fixed;z-index: 10000;left:0;right:0;top:0;bottom:0;width: 100%;height: 100%;display: none;">
			<div class="bui_tc_white bui_ta_r bui_p_24 ">
				<p class="fontWeight">点击发送给你的好友吧！<i class="fa fa-arrow-up fa-fw fa-2x fa-rotate-45"></i>
				</p>
			</div>
			<div class="bui_tc_white  " style="width: 100%;height: 100%;">
				<div style="background: url(../wMall/images/bgc_remaid.png)  no-repeat;background-size: 100% 100%;" class="bui_p_32 bui_m_32">
					<div class="bui_media">
						<div class="bui_media_l bui_fas_48">
							<i class="fa fa-lightbulb-o "></i>
						</div>
						<div class="bui_media_b">
							<p class="fontWeight">温馨提示：你的好友确认接收后将由好友自行填写TA的收货信息。</p>
						</div>
					</div>

				</div>
			</div>

		</div>

	</body>
</html>
