<script type="text/javascript">
	$(document).ready(function() {
		global_vue({
			el: '#vueBox',
			data: vueData
		});
		modalMemberDetailEdit_getData_basic(); //更新资料
	});
	//更新资料
	function modalMemberDetailEdit_getData_basic() {
		window.localStorage.removeItem('memberDetail');
		//获取用户信息
		global_getJsonSetVue(workSpace.jsonUrl + '/merriplusApi/getMemberDetail', 'memberDetailEditBasic', null, function() {
			//判断是否新用户
			vm.$set('isNewUser', !vueData.memberDetailEditBasic.data.mobilePhone || vueData.memberDetailEditBasic.data.mobilePhone == '' ? true : false);
			//获取高级资料完成率
			global_getJsonSetVue(workSpace.jsonUrl + 'front/getMemberInfoPercent', 'getMemberInfoPercent');
			//引用第三方时间插件
			$("[data-buijs_date]").buijs_date({
				positions: 'bottom',
				start: 4,
				min: 2
			});
			//详细资料数组处理
			vm.$set('memberDetailAdv.array1', vueData.memberDetailEditBasic.data.concernsPerson ? vueData.memberDetailEditBasic.data.concernsPerson.split(',') : []);
			vm.$set('memberDetailAdv.array2', vueData.memberDetailEditBasic.data.concerns ? vueData.memberDetailEditBasic.data.concerns.split(',') : []);

			//提交基本数据
			$("form#memberDetailBasic").unbind('submit').buijs_form_check({
				texterror: '<i class="fa fa-close fa-fw bui_tc_red_i"></i>',
				textsuccess: '<i class="fa fa-check fa-fw bui_tc_green_i"></i>',
				error: function() {
					buijs_alert({
						content: '填写未完成'
					})
				},
				success: function() {
					if($("form#memberDetailBasic button:active").attr('id') == 'submit') {
						global_getVueSetJson(workSpace.jsonUrl + '/merriplusApi/updateMemberWithSMSCode', vueData.memberDetailEditBasic.data, ['mobilePhone', 'smsCode', 'gender', 'fullName', 'birthday', 'ext1', 'ext2'],
							function(data) {
								buijs_alert({
									content: data.msg
								});
								if(data.code == 0) {
									global_getJsonSetVue(workSpace.jsonUrl + '/merriplusApi/getMemberDetail', 'memberDetail'); //读取个人信息

									//判断是否完成详细信息
									if(vueData.getMemberInfoPercent.data == '100%') {
										buijs_modal_close('modal_memberdetailedit_basic'); //关闭弹窗

										//使用环境-会员权益
										if(window.location.href.indexOf('member_interest.html') != -1) {
											window.location.href = 'http://' + window.location.host + window.location.pathname + '?timestamp=' + new Date().getTime();
										};

									} else {
										global_showSidePanel('modal_memberdetailedit_advance');
									};
								};
							});
					} else {
						global_getVueSetJson(workSpace.jsonUrl + '/merriplusApi/updateMemberWithSMSCode', vueData.memberDetailEditBasic.data, ['mobilePhone', 'smsCode', 'gender', 'fullName', 'birthday', 'ext1', 'ext2'],
							function(data) {
								buijs_alert({
									content: data.msg
								});
								if(data.code == 0) {
									global_getJsonSetVue(workSpace.jsonUrl + '/merriplusApi/getMemberDetail', 'memberDetail'); //读取个人信息
									global_showSidePanel('modal_memberdetailedit_advance');
								};
							});
					}

				}
			});

		}); //获取个人资料
	};

	//获取验证码
	function smsGetCode() {
		//校验手机号
		if($("[buijs_form_item_type=mobile]").hasClass('buijs_form_item_success')) {
			$("[buijs_form_item_type=mobile] input").prop('disabled', true);
			//倒计时
			vm.$set('smsCodecountDown', null);
			var i = 60;
			var int = setInterval(smsCodecountDown, 1000);

			function smsCodecountDown() {
				if(i > 0) {
					i--;
					vueData.smsCodecountDown = i;
				} else {
					window.clearInterval(int);
				};
				return false;
			};
			global_getJsonSetVue(workSpace.jsonUrl + '/merriplusApi/getUpdateSMSCode', 'getUpdateSMSCode', {
				phone: vueData.memberDetailEditBasic.data.mobilePhone,
				brandCode: vueData.global.brandCode
			}, function() {
				buijs_alert({
					content: '验证码已经发送<br/>请注意查看手机信息'
				})
			})
		} else {
			buijs_alert({
				content: '手机格式不正确'
			})
		};
	};
</script>
<div class="bui_wrap bui_tc_black bui_tc_black_a">
	<!--基本信息-->
	<form id="memberDetailBasic">
		<!--页头-->
		<div class="bui_mo_h">
			<tp-header bgc="bui_bgc_red" lefticon="fa-angle-left" leftlink="javascript:buijs_modal_close('modal_memberdetailedit_basic');" title="我的个人资料"></tp-header>
		</div>
		<!--页头-->
		<!--页面-->
		<div class="bui_mo_b bui_mo_b_h bui_mo_b_f">
			<div class="bui_tc_red_i">
				<!--手机号-->
				<div class="bui_ipg_48 bui_block bui_bgc_white bui_bds_1_b" buijs_form_item_type="mobile">
					<span class="buijs_form_item_tips bui_fr"></span>
					<i class="fa fa-phone bui_fl"></i>
					<input type="tel" placeholder="手机号" v-model="memberDetailEditBasic.data.mobilePhone" class="bui_ipt_48 bui_bds_0 bui_ts_14" :disabled="isNewUser?false:true" />
				</div>
				<!--手机号-->
				<!--验证码-->
				<div class="bui_media bui_vm bui_bgc_white bui_bds_1_b" v-if="isNewUser">
					<div class="bui_media_b">
						<div class="bui_ipg_48 bui_block " buijs_form_item_type="length" buijs_form_item_length="6,6">
							<span class="buijs_form_item_tips bui_fr"></span>
							<i class="fa fa-copy bui_fl"></i>
							<input type="tel" placeholder="验证码" v-model="memberDetailEditBasic.data.smsCode" class="bui_ipt_48 bui_bds_0 bui_ts_14" />
						</div>
					</div>
					<div class="bui_media_r bui_plr_12">
						<button type="button" class="bui_btn bui_btn_24 bui_bgc_red" :disabled="smsCodecountDown?true:false" onclick="smsGetCode()"> {{smsCodecountDown?smsCodecountDown:'点击获取'}}</button>
					</div>
				</div>
				<!--验证码-->
				<!--姓名-->
				<div class="bui_ipg_48 bui_block bui_bgc_white bui_bds_1_b" buijs_form_item_type="length" buijs_form_item_length="1,9999">
					<span class="buijs_form_item_tips bui_fr"></span>
					<i class="fa fa-user bui_fl"></i>
					<input type="text" placeholder="姓名" v-model="memberDetailEditBasic.data.fullName" class="bui_ipt_48 bui_bds_0 bui_ts_14" />
				</div>
				<!--姓名-->
				<!--性别-->
				<div class="bui_ipg_48 bui_block bui_bgc_white bui_bds_1_b" buijs_form_item_type="select">
					<span class="buijs_form_item_tips bui_fr"></span>
					<i class="fa fa-intersex bui_fl"></i>
					<select v-model="memberDetailEditBasic.data.gender" class="bui_ipt_48 bui_bds_0 bui_ts_14">
						<option :value="null">请选择</option>
						<option value="男">男</option>
						<option value="女">女</option>
					</select>
				</div>
				<!--性别-->
				<!--生日-->
				<div class="bui_ipg_48 bui_block bui_bgc_white bui_bds_1_b" buijs_form_item_type="select">
					<span class="buijs_form_item_tips bui_fr"></span>
					<i class="fa fa-birthday-cake bui_fl"></i>
					<input type="tel" placeholder="生日" v-model="memberDetailEditBasic.data.birthday" class="bui_ipt_48 bui_bds_0 bui_ts_14" data-buijs_date readonly="readonly" />
				</div>
				<!--生日-->
				<!--身高-->
				<div class="bui_ipg_48 bui_block bui_bgc_white bui_bds_1_b" buijs_form_item_type="select">
					<span class="buijs_form_item_tips bui_fr"></span>
					<i class="fa fa-male bui_fl"></i>
					<select v-model="memberDetailEditBasic.data.ext1" class="bui_ipt_48 bui_bds_0 bui_ts_14">
						<option v-for="i in 200" v-if="i>149" :value='i'>{{i}} cm</option>
					</select>
				</div>
				<!--身高-->
				<!--体重-->
				<div class="bui_ipg_48 bui_block bui_bgc_white bui_bds_1_b" buijs_form_item_type="select">
					<span class="buijs_form_item_tips bui_fr"></span>
					<i class="fa fa-balance-scale bui_fl"></i>
					<select v-model="memberDetailEditBasic.data.ext2" class="bui_ipt_48 bui_bds_0 bui_ts_14">
						<option v-for="i in 200" v-if="i>30" :value='i'>{{i}} kg</option>
					</select>
				</div>
				<!--体重-->
			</div>

			<div>
				<div class="bui_p_12">
					<!--<a href="javascript:global_showSidePanel('modal_memberdetailedit_advance');" class="bui_media bui_vm bui_p_12 bui_bgc_white bui_bds_1 bui_radius">
						<div class="bui_media_l">
							<i class="fa fa-hand-o-up fa-fw bui_ts_32_i bui_tc_red_i"></i>
						</div>
						<div class="bui_media_b">
							<p>点击完善更多资料</p>
							<p class="bui_ts_12 bui_tc_white_d64">首次完善可获得<span class="bui_tc_red">100</span>积分</p>
						</div>
						<div class="bui_media_r">
							<div class="bui_ta_c">
								<p class="bui_ts_12 bui_tc_white_d64">完成率</p>
								<p class="bui_tc_red bui_ts_20">{{getMemberInfoPercent&&getMemberInfoPercent.data?getMemberInfoPercent.data:'0%'}}</p>
							</div>
						</div>
					</a>-->
					<button class="bui_media bui_vm bui_p_12 bui_bgc_white bui_bds_1 bui_radius" id="adv">
						<div class="bui_media_l">
							<i class="fa fa-hand-o-up fa-fw bui_ts_32_i bui_tc_red_i"></i>
						</div>
						<div class="bui_media_b bui_ta_l">
							<p class="bui_ts_16">点击完善更多资料</p>
							<p class="bui_ts_12 bui_tc_white_d64">首次完善可获得<span class="bui_tc_red">100</span>积分</p>
						</div>
						<div class="bui_media_r">
							<div class="bui_ta_c">
								<p class="bui_ts_12 bui_tc_white_d64">完成率</p>
								<p class="bui_tc_red bui_ts_20">{{getMemberInfoPercent&&getMemberInfoPercent.data?getMemberInfoPercent.data:'0%'}}</p>
							</div>
						</div>
					</button>
				</div>
			</div>
		</div>
		<!--页面-->
		<!--页脚-->
		<div class="bui_mo_f bui_bgc_white bui_bds_1_t">
			<div class="bui_p_8"><button class="bui_btn bui_btn_48 bui_block bui_bgc_red bui_ts_16" id="submit">保存基础信息</button></div>
		</div>
		<!--页脚-->
	</form>
	<!--基本信息-->
</div>