<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>texture/btnGo.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>texture/countdown1.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,125},{49,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,88}</string>
			</dict>
			<key>texture/countdown2.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,277},{63,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,89}</string>
			</dict>
			<key>texture/countdown3.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,360},{62,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,88}</string>
			</dict>
			<key>texture/hookEnd.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,474},{94,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,49}</string>
			</dict>
			<key>texture/manNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{172,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,530}</string>
			</dict>
			<key>texture/propBomb.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,143},{55,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,132}</string>
			</dict>
			<key>texture/propClock.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,143},{77,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,100}</string>
			</dict>
			<key>texture/propHeavyMuscleEnergy.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,245},{66,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,113}</string>
			</dict>
			<key>texture/propKeyEnergy.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,215},{85,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,46}</string>
			</dict>
			<key>texture/propPositiveMuscleEnergy.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,125},{66,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,113}</string>
			</dict>
			<key>texture/propProteinBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,240},{84,45}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,46}</string>
			</dict>
			<key>texture/propRedPackage.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,125},{81,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,105}</string>
			</dict>
			<key>texture/propWheyProtein.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,232},{65,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,112}</string>
			</dict>
			<key>texture/timeBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,450},{234,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,23}</string>
			</dict>
			<key>texture/timeProcessBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,475},{234,22}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,23}</string>
			</dict>
			<key>texture/timeProcessPink.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,499},{234,22}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,23}</string>
			</dict>
			<key>texture/timeProcessYellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,450},{234,22}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,23}</string>
			</dict>
			<key>texture/txtClipSpeedUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,474},{176,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,29}</string>
			</dict>
			<key>texture/txtScore.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,125},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>texture/btnSound.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,263},{60,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>texture/txtOver.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1},{235,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,60}</string>
			</dict>
			<key>texture/txtClipFail.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,63},{212,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,60}</string>
			</dict>
			<key>texture/topBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,533},{639,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{639,104}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>texturePlist.png</string>
			<key>realTextureFileName</key>
			<string>texturePlist.png</string>
			<key>size</key>
			<string>{1021,638}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>638</integer>
		</dict>
	</dict>
</plist>