<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcoding.emis.goods.tmpOrderDelivery.persistence.TmpOrderDeliveryMapper" >
  <resultMap id="BaseResultMap" type="com.mcoding.emis.goods.tmpOrderDelivery.bean.TmpOrderDelivery" >
    <result column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="deliveryOrderNo" property="deliveryorderno" jdbcType="VARCHAR" />
    <result column="deliveryName" property="deliveryname" jdbcType="VARCHAR" />
    <result column="isUpdate" property="isupdate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderNo, deliveryOrderNo, deliveryName, isUpdate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mcoding.emis.goods.tmpOrderDelivery.bean.TmpOrderDeliveryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tmp_order_delivery
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.mcoding.emis.goods.tmpOrderDelivery.bean.TmpOrderDeliveryExample" >
    delete from tmp_order_delivery
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mcoding.emis.goods.tmpOrderDelivery.bean.TmpOrderDelivery" >
    insert into tmp_order_delivery (orderNo, deliveryOrderNo, deliveryName, 
      isUpdate)
    values (#{orderno,jdbcType=VARCHAR}, #{deliveryorderno,jdbcType=VARCHAR}, #{deliveryname,jdbcType=VARCHAR}, 
      #{isupdate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mcoding.emis.goods.tmpOrderDelivery.bean.TmpOrderDelivery" >
    insert into tmp_order_delivery
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="deliveryorderno != null" >
        deliveryOrderNo,
      </if>
      <if test="deliveryname != null" >
        deliveryName,
      </if>
      <if test="isupdate != null" >
        isUpdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="deliveryorderno != null" >
        #{deliveryorderno,jdbcType=VARCHAR},
      </if>
      <if test="deliveryname != null" >
        #{deliveryname,jdbcType=VARCHAR},
      </if>
      <if test="isupdate != null" >
        #{isupdate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mcoding.emis.goods.tmpOrderDelivery.bean.TmpOrderDeliveryExample" resultType="java.lang.Integer" >
    select count(*) from tmp_order_delivery
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tmp_order_delivery
    <set >
      <if test="record.orderno != null" >
        orderNo = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryorderno != null" >
        deliveryOrderNo = #{record.deliveryorderno,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryname != null" >
        deliveryName = #{record.deliveryname,jdbcType=VARCHAR},
      </if>
      <if test="record.isupdate != null" >
        isUpdate = #{record.isupdate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tmp_order_delivery
    set orderNo = #{record.orderno,jdbcType=VARCHAR},
      deliveryOrderNo = #{record.deliveryorderno,jdbcType=VARCHAR},
      deliveryName = #{record.deliveryname,jdbcType=VARCHAR},
      isUpdate = #{record.isupdate,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
   <!-- 非自动生成 -->
  
  <!-- 订单发货列表查询 自动数据分页，必须以byPage结尾-->
  <select id="queryTmpOrderDeliveryByPage" parameterType="map" resultType="com.mcoding.emis.goods.tmpOrderDelivery.bean.TmpOrderDelivery">
        select * from tmp_order_delivery
        ORDER BY orderNo DESC
   </select>
</mapper>